@charset "utf-8";

/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

header {
  height: 90px;
  background-color: #26d0c9;
  color: #fff;
}

header h2 {
  font-size: 36px;
  margin: 20px 40px;
  float: left;
  font-weight: normal;
}

header li {
  padding: 33px 20px;
  float: left;
}

.contents {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
}

.contents-top h1 {
  font-size: 140px;
}

.contents-top h2 {
  font-size: 60px;
}

span {
  color: #ff4a4a;
}