@charset "utf-8";

/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 10;
}

.header-contents {
  width: 1170px;
  margin: 0 auto;
}

.header-logo img {
  width: 124px;
  padding-top: 20px;
  float: left;
}

.header-login {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0px 25px;
  line-height: 65px;
  color: white;
  height: 65px;
  display: block;
  transition: all 0.5s;
}

.header-login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.top {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  text-align: center;
}

.container {
  padding-top: 180px;
  padding-bottom: 100px;
}

h1 {
  color: white;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  width: 1170px;
  margin: 0 auto;
}

.top p {
  color: white;
  opacity: 0.7;
  width: 1170px;
  margin: 0 auto;
}

.submit {
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  opacity: 0.8;
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.facebook {
  margin-top: 15px;
  margin-right: 10px;
  color: white;
  background-color: #3b5998;
  opacity: 0.8;
}

.twitter {
  margin-top: 15px;
  color: white;
  background-color: #55acee;
  opacity: 0.8;
}

.fa {
  margin-right: 5px;
}

.lessons {
  background-color: #f7f7f7;
  height: 580px;
}

.lessons-container {
  margin: 0 auto;
  width: 1170px;
  text-align: center;
}

.lessons-title {
  color: #5f5d60;
  padding: 80px 0 50px;
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-block {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.lesson-name {
  color: white;
  position: absolute;
  width: 100%;
  top: 91px;
}

.lesson-text {
  padding-top: 15px;
  color: #b3aeb5;
  font-size: 13px;
}

.messages-container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.main-message {
  color: #5f5d60;
  padding-top: 80px;
  font-weight: normal;
}

.sub-message {
  color: #5f5d60;
  padding-bottom: 50px;
  font-weight: normal;
}

.start-btn {
  padding: 15px 40px;
  margin-bottom: 80px;
  background-color: #5dca88;
  box-shadow: 0 7px #1a7940;
  opacity: 0.8;
  color: white;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.start-btn:hover {
  opacity: 1;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}

footer {
  border-top: 1px solid #eee;
}

.footer-container {
  margin: 0 auto;
  width: 1170px;
}

.footer-container img {
  padding-top: 30px;
  width: 124px;
}

.footer-container p {
  padding-bottom: 30px;
  font-size: 12px;
  color: #b3aeb5;
}